#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30;
    background-color: #191922;
}

.hud_label {
    flex-grow: 0;
    height: 40;
    background-color: #191922;
    color: #ffffff;
    font-size: 28;
}

.red_panel {
    flex-grow: 1;
    background-color: #b11719;
    border-color: #8d0404;
    border-width: 2;
    border-radius: 16;
    color: #00ff48;
    font-size: 40;
}

.red_panel:hover {
    border-color: #ff0000;
}

.green_panel {
    flex-grow: 1;
    background-color: #17b119;
    border-color: #006110;
    border-width: 2;
    border-radius: 18;
    color: #b11719;
    font-size: 50;
}

.green_panel:hover {
    border-color: #00ff00;
}

button {
    background-color: #2a2a3a;
    border-color: #5555aa;
    border-width: 2;
    border-radius: 8;
    color: #ddddff;
    font-size: 32;
    margin-left: 20%;
    margin-top: 20%;
    margin-right: 20%;
    height: 10%;
    padding: 8px;
}

button:hover {
    background-color: #3a3a5a;
    border-color: #8888ff;
}

button:active {
    background-color: #1a1a2a;
    border-color: #aaaaff;
}
